/*Resetcss remove espaçamento que já vem por padrão. margem e espaços*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #a52a2a;
  background-size: auto 100vh;
  font-family: 'Overpass Mono', monospace;
  height: 100vh;
  font-size: 10px;  
   
}
/*Se a tela tiver pelo menos 400px vai carregar*/
/*breaking point*/

@media(min-width: 400px){
  body{
   font-size: 14px;  
  }
}

@media(min-width: 600px){
  body{
   font-size: 18px;  
  }
}

@media(min-width: 1200px){
  body{
   font-size: 20px;  

  }
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: #e7c02b;
  -webkit-filter: opacity(0.89);
  position: fixed;
  width: 100vw;
  top: 0;
}
.menu ul{
  display: flex;
  justify-content: space-around;
}
.menu li{
  list-style: none;
}

a{
  color: whitesmoke;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
.menu a{
  display: block;
  padding: 10px 20px;
}


img{
  width:250px;
  height:250px;
 
}
.displayed {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px -15px 45px 0px #808080;
  border:2px ridge #bfbfbf;
  border-radius: 150px;  
  align-items: center;
}

.site-subtitle,
.site-title{
  filter: none;
  color: GHOSTWHITE;
  text-align: center;
}

.site-title{
  font-size: 2em; 
  font-family: 'Abril Fatface', cursive;

}

.site-subtitle{
  font-style: italic;
  line-height: 1.5em;
}

.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

.contato h2,
.portfolio h2{
  font-family: 'Noto Sans JP', sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;

}

.portfolio .grid{
  display: grid;
  gap: 2em;
  
}

@media(min-width: 560px){
  .grid{
    grid-template-columns: 240px 240px 240px;
  }
  
}

@media(min-width: 800px){
  .grid{
    grid-template-columns: repeat(3,240px);
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
  
}

.portfolio figure{
  text-align: center;
}

.img-portfolio{
  height: 240px;
  width: 240px;
  object-fit: unset;
}

.contato .icons{
  text-align: center;

}

.contato a{
  color: whitesmoke;
  font-size: 4em;

}

.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255, 0.5);
}